01-sales-data-reporting/Automated Data Analysis & Reporting.json
{
  "name": "Automated Data Analysis & Reporting",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        224
      ],
      "id": "1967584f-11f4-496e-b8b3-ad644a90d700",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "0AEJy9TIKo07pnQN",
          "mode": "list",
          "cachedResultName": "sales_raw.csv",
          "cachedResultUrl": "/projects/7FsMF0zZXyP2ia5M/datatables/0AEJy9TIKo07pnQN"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        16,
        224
      ],
      "id": "65c0d3c8-62ea-4660-9796-d4d1fc16e81e",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6834876a-271e-4a10-a5a6-c5f9598fb33a",
              "leftValue": "={{ $json.Revenue }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1a76801b-97b4-460b-ad1f-39441170cb7f",
              "leftValue": "={{ $json.Quantity }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        224
      ],
      "id": "78c59290-dc21-4473-bf6c-9f2d6c614d35",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const data = items.map(item => item.json);\n\n// Remove duplicates\nconst unique = Array.from(\n  new Map(data.map(item => [item.Product_ID + item.Revenue, item])).values()\n);\n\n// Remove null values\nconst cleaned = unique.filter(row =>\n  row.Revenue && row.Quantity && row.Product_Name && row.Region\n);\n\nreturn cleaned.map(row => ({ json: row }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        80
      ],
      "id": "84c5fdaa-7885-4a3e-8dd7-04dd0ec2a86b",
      "name": "cleaning, deduplicating"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "Revenue"
            },
            {
              "aggregation": "sum",
              "field": "Quantity"
            },
            {
              "field": "Product_ID"
            },
            {
              "aggregation": "average",
              "field": "Revenue"
            }
          ]
        },
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        560,
        -80
      ],
      "id": "b616d5b5-2bf0-4fe7-b3aa-e7250d31946b",
      "name": "Calculate Sales KPIs"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "Revenue"
            }
          ]
        },
        "fieldsToSplitBy": "Product_Name",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        560,
        96
      ],
      "id": "66d05c3e-f310-4262-b5fa-ea076e96652b",
      "name": "Aggregate Revenue by Product"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "Revenue"
            }
          ]
        },
        "fieldsToSplitBy": "Region",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        576,
        288
      ],
      "id": "687901d4-8385-490a-b766-a027cbc101a5",
      "name": "Aggregate Revenue by Region"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "sum_Revenue",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        720,
        96
      ],
      "id": "64b3da06-8a8a-4302-a006-8b03bee6cc90",
      "name": "Sort"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        896,
        96
      ],
      "id": "a973473b-4a8a-4222-9fcd-436e36477d9c",
      "name": "Top Selling Product KPI"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "sum_Revenue",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        720,
        288
      ],
      "id": "17e38040-47e7-4e8a-987e-f46d7ecb7019",
      "name": "Sort1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        912,
        288
      ],
      "id": "1f97a2fe-f86e-4360-97cb-197c039316a1",
      "name": "Get ONLY Best Region"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1200,
        144
      ],
      "id": "0a0f8888-a51f-4e8a-8a24-645935dbe7c8",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a business data analyst who writes short and clear sales reports.\n\n\nGenerate a clean, professional HTML email report using the data below.\n\nRules:\n- Return ONLY valid HTML (no markdown, no explanations)\n- Use inline CSS only\n- Use a light, professional style\n- Include:\n  - Title\n  - KPI table\n  - 2 bullet-point insights\n- Keep it concise\n\nSales data:\n{{ JSON.stringify($node[\"Merge\"].json, null, 2) }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a business data analyst who writes short and clear sales reports.\n"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Analyze the following sales data and generate a short business insight report.  Data: {{ JSON.stringify($node[\"Merge\"].json, null, 2) }}  Instructions: - Mention product name - Mention total revenue - Mention quantity sold - Mention average revenue - Give 2 short insights - Keep under 120 words"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1392,
        176
      ],
      "id": "de5d8087-05ba-47ee-be50-5b4852d7f3d0",
      "name": "Basic LLM Chain",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1280,
        448
      ],
      "id": "cf55f199-1b79-4eae-81bf-acdb26872681",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "PU76yE389H0kHzcJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1NZlI5WVxqZskBUPvfWRTsSkJiZFa2YnJNj5GTlkeTYA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NZlI5WVxqZskBUPvfWRTsSkJiZFa2YnJNj5GTlkeTYA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sum_Revenue": "={{ $json.sum_Revenue }}",
            "Product_Name": "={{ $json.Product_Name }}",
            "sum_Quantity": "={{ $json.sum_Quantity }}",
            "count_Product_ID": "={{ $json.count_Product_ID }}",
            "average_Revenue": "={{ $json.average_Revenue }}",
            "Region": "={{ $json.Region }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sum_Revenue",
              "displayName": "sum_Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product_Name",
              "displayName": "Product_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sum_Quantity",
              "displayName": "sum_Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "count_Product_ID",
              "displayName": "count_Product_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "average_Revenue",
              "displayName": "average_Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Region",
              "displayName": "Region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        -64
      ],
      "id": "def3181c-eb9f-4319-ab79-6f308df55cb8",
      "name": "storing results",
      "credentials": {
        "googleApi": {
          "id": "dN8fF3iq7w0VNBUI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#approvals",
          "mode": "name"
        },
        "message": "={{ $json.text }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1792,
        48
      ],
      "id": "3b2ed583-283d-4e6d-9a9b-8926f68b9be6",
      "name": "approve before sending output",
      "webhookId": "ae9bf4c8-7f81-4f97-948c-aeb79d3d46dd",
      "credentials": {
        "slackApi": {
          "id": "JmxROPz8RTP7JbYn",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "@n8n_bot",
          "mode": "username"
        },
        "text": "AN error occured in Automated Data Analysis via open router",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1808,
        384
      ],
      "id": "00ab281d-6c52-4364-a6a8-10bd7f622752",
      "name": "notify if error occured",
      "webhookId": "3a3c42c0-9bae-403e-922a-bca1f6bcf529",
      "credentials": {
        "slackApi": {
          "id": "JmxROPz8RTP7JbYn",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a203fb3a-589e-4d4b-ae5d-04182e271d8b",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1984,
        48
      ],
      "id": "64628c23-596b-4f05-928d-7ae286c431f9",
      "name": "if approved true"
    },
    {
      "parameters": {
        "fromEmail": "shivani03112005@gmail.com",
        "toEmail": "shivani03112005@gmail.com",
        "subject": "automated sales report",
        "html": "={{ $('Basic LLM Chain').item.json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2224,
        240
      ],
      "id": "503b80a4-7178-4577-81fb-959989fbc105",
      "name": "Send Report",
      "webhookId": "5cdfd535-d124-40a0-9932-752706b20e0d",
      "credentials": {
        "smtp": {
          "id": "v06qQduf0HfEKUDA",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "cleaning, deduplicating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cleaning, deduplicating": {
      "main": [
        [
          {
            "node": "Calculate Sales KPIs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate Revenue by Product",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate Revenue by Region",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Sales KPIs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate Revenue by Product": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Top Selling Product KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top Selling Product KPI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Revenue by Region": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Get ONLY Best Region",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ONLY Best Region": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "storing results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "approve before sending output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "notify if error occured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "approve before sending output": {
      "main": [
        [
          {
            "node": "if approved true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if approved true": {
      "main": [
        [
          {
            "node": "Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "772e7fda-ec3d-492c-b539-4821a660cd61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94c313174ea1c254bf84c16eaaa82cd117a864c2d5c1a079ab7a0760c8fe35fc"
  },
  "id": "bYPMNGxO8zcOi51D",
  "tags": []
}